parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$string of function rtrim expects string, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: config/filesystems.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/ExampleTest.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 3
			path: database/seeders/AdminSeeder.php
